/*******************************Main Section*********************************/
.main-section {
  background-color: #03a9f3;
  height: 70%;
  margin-bottom: 40px;
}
.main-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.location {
  align-self: flex-end;
  padding: 1%;
}
.location a {
  font-size: 18px;
  text-decoration:none;
  color: #ffffff;
}
.main-section-bts {
  display: flex;
  gap: 90px;
}
.main-section-bt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #ffffff;
  height: 65px;
  width: 200px;
  border-radius: 5px;
}
.sun {
  display: flex;
  gap: 10px;
}
.temperature {
  font-size: 40px;
}
.zone {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 30px;
}
.description {
  font-size: 18px;
  margin-bottom: 60px;
}
.main-section-bt p {
  font-size: 18px;
  color: #0984bd;
}
.main-section-icon p {
  font-size: 55px;
  margin-bottom: 20px;
}
.const-icon{
  height: 20px;
  width:20px;
}
/*******************************Footer*********************************/
footer {
  height: 40%;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.days-forecast {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.footer-container h2 {
  align-self: center;
  font-size: 25px;
  color: #767676;
}
.min-max {
  display: flex;
  gap: 15px;
}
.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 140px;
  width: 100px;
  padding: 20px;
}
.max p {
  line-height: 20px;
  color: #767676;
  font-size: 16px;
}
.min p {
  line-height: 20px;
  color: #767676;
  font-size: 16px;
}
#max-icon{
  width:15px;
  height:15px;
}
#min-icon{
  width:13.5px;
  height:13.5px;
}